<div class="panel panel-default">
  <div class="panel-heading">
    <b>Most Recent Questions</b>
  </div>
  	<%if current_user.present?%>
  		<%path = new_question_path%>
	 <%else%>
	 	<%path = new_user_registration_path%>
	 <%end%>
	<%= button_to '+ Add Question',path, :title => "New Question", :class=>'btn btn-success btn-mini float-right top-margin', :method => :get%>
  <div class="panel-body body-margin">
    <%= render :partial => 'questions/question', :collection => @questions, :spacer_template => "shared/item_seperator" %>
  </div>
</div>