<blockquote>
  <p>My Questions</p>
</blockquote>
<span class="add-new">
  <%= link_to 'New question', new_question_path %>
</span>
</br>
 <% @questions.each do |question| %>
    <%= render 'question_layout', :object=> question%>
    <br/>
 <% end %> 