<div class="panel panel-default">
  <div class="panel-heading">
    <b>Listing Questions</b>
  </div>
  <div class="panel-body">
  	<span>
  	<%= button_to '+ Add Question', new_question_path, :title => "New Question", :class=>'btn btn-success btn-mini float-right', :method => :get  %>
	</span>
  </div>
	<%= render :partial => 'question', :collection => @questions, :spacer_template => "shared/item_seperator" %>
</div>
<%= link_to "Back", :back %>