<blockquote>
  <p>My Questions</p>
</blockquote>
<span>
  <%= button_to ' Add Question', new_question_path, :title => "New Question", :class=>'btn btn-default btn-lg icon-plus-sign', :method => :get  %>
</span>

<%= render :partial => 'question', :collection => @questions, :spacer_template => "shared/item_seperator" %>