<blockquote>
  <p>Listing Questions</p>
</blockquote>
<span class="add-new">
  <%= link_to 'New Question', new_question_path %>
</span>
 <% @questions.each do |question| %>
    <%= render 'shared/question_layout', :object=> question%>
 <% end %> 