/log/sunspot-solr-test.log.lck
/log/sunspot-solr-test.log.1
config/database.yml
*.log
log/development.log
tmp/
tmp/*/
tmp/*/*/
tmp/*/*/*/
tmp/*/*/*/*/
config/initializers/setup_mail.rb

*.pid
/tmp/**/*

public/system/
solr/development
solr/test
log/sunspot-solr-development.log.lck
