<div class="panel-group">
  <div class="panel panel-info">
  	<div class="panel-heading" >
  		<b>Your Expertise</b>
  	</div>
	<div class="panel-body">
		<i>Add or Remove your Expertise</i></br>
		</br>
		<%=form_for(@user) do |f| %>
		  <%= render "shared/error_messages", :object => @user %>
		  <%= f.text_area :expertise_list, :id=>"tags2", :class=>"set-height"%>
		  <br/>
		  <div class="actions"> 
		    <%= f.submit "Submit", :class => "btn btn-primary btn-mini"%>
		  </div>
		<% end %>
	</div>
  </div>
</div>