<div class="span2">
	<h6><a>My Points</a></h6>
	<h6><%= link_to 'Add Expertise', new_expertise_path %></h6>
	<h6><%= link_to 'Add Interest', new_interest_path %></h6>
	<h6><%= link_to 'See All Question', all_questions_path %></h6>
</div>