<a href="#" id="modal-show" hiddden="true" data-toggle="modal" data-target="#modal-window"></a>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" >
	  <div class="modal-content" id="modal-content">
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>