<div class="well sidebar-nav">
  <div class="control-group">
  	<%= image_tag current_user.profile.photo.url(:medium), :class => 'control-label img-rounded' if current_user.present? && current_user.profile.present? %>
  </div>
  <ul class="nav nav-list">
    <li class="nav-header">Quick Links</li>
    
    <li><%= link_to 'All Questions', all_questions_path %></li>
  </ul>
</div><!--/.well -->