<b>Popular tags : </b></br></br>
<div class="taggers" align="center">
  <% Tag.find(:all, :limit => 20).each do |tag| %>
  	<a href="/questions/tagged/<%=tag.id%>"><span class="label label-success"><i class="icon-tags"></i> <%= tag.name.titleize %></span></a>
  <% end %>
</div>