<h5>Tag List</h5>
<div style="height:200px; overflow:auto;">
  <ul class="list-group">
    <% Tag.all.each do |tag| %>
      <li class="list-group-item">
        <span class="badge">14</span>
        <a href="/questions/tagged/<%=tag.id%>" style="text-decoration:none;">
          <i class="icon-tags"></i> <%= tag.name.titleize %>
        </a>
      </li>
    <% end %>
  </ul>
</div>