<div style="margin-top:-50px;padding-bottom:3px;">
  <%= button_to 'See All', question_url, "data-disable-with" => "Please wait...", :title => "See All", :class=>'btn btn-info btn-mini float-right', :method => :get, :style => "margin-left:5px;" %>
  <%= button_to btn_title, url, "data-disable-with" => "Please wait...", :title => btn_title, :class=>'btn btn-success btn-mini float-right', :method => :get %> 
  <div class="clearfix"></div>
</div>
<%= render :partial => 'questions/question', :collection => items, :spacer_template => "shared/item_seperator" %>