<p class="pull-right visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#home" data-toggle="tab">Q by You</a></li>
      <li><a href="#profile" data-toggle="tab">Q on your Experitise</a></li>
      <li><a href="#messages" data-toggle="tab">Q on your Interest</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <span class="action_links float-right">
          <%= link_to ' See All', questions_path, :title => "See All", :class=>'icon-list' %>
        </span></br></br>
        <% @questions.each do |question| %>
          <%= render 'questions/question_layout', :object=> question%>
        </br>
        <% end %>
      </div>
      <div class="tab-pane" id="profile">
         <span class="action_links float-right">
          <%= link_to ' See All', questions_path, :title => "See All", :class=>'icon-list' %>
        </span></br></br>
      </div>
      <div class="tab-pane" id="messages">
       <span class="action_links float-right">
          <%= link_to ' See All', questions_path, :title => "See All", :class=>'icon-list' %>
        </span></br></br>
      </div>      
    </div>
    <script>
    $(function () {
      $('#myTab a:last').tab('show')
      })
    </script>
   </div>
</div>



<div class="row">
 

</div><!--/row-->
