<blockquote>
  <p>Listing interest</p>
</blockquote>
<span class="add-new">
  <%= link_to 'New Interest', new_interest_path %>
</span>
<table  class="table table-hover table-striped">
  <tr>
    <th>Interest</th>
    
    <th style = "width:200px;">Actions</th>
  </tr>

<% @interests.each do |interest| %>
  <tr>
    <td><%= link_to interest.interest, interest %></td>
    <td>
          <%= link_to 'Edit', edit_interest_path(interest) %> | 
          <%= link_to 'Delete', interest, method: :delete, data: { confirm: 'Are you sure?' } %>
          
        </td>
  </tr>
<% end %>
</table>
