/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.clear{
  clear: both;
}

.float-right{
  float: right !important;
}

.float-left{
  float: left !important;
}

.add-new{
  float: right !important;
  margin-top: -16px;
}


.field_with_errors input, .field_with_errors textarea{
  border-color: #b94a48 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
}

.field_with_errors label{
  color: #b94a48 !important;
}

input{
  height: 30px !important;
}

.action_links{
  border-radius: 3px;
  background-color: white;
  border-color: black;
  padding: 5px;
  max-width: 125px;
  position: relative;
  top: 0px;
}
.set-height{
  width: 600px !important;
  height: 200px !important;
}